- content_for :pathway_sub do
  &raquo; Transaktion vom #{@konto_transaction.created_at}

= semantic_form_for @konto_transaction do |f|
  = f.input :from, :label => "von Konto", :as => :select, :collection => @kontos
  = f.input :to, :label => "zu Konto", :as => :select, :collection => @kontos
  = f.input :price, :label => "Summe", :as => :string
  = f.input :name, :label => "Grund"
  = f.action :submit, :label => "Transaktion speichern"
