%h1 Shop Bundles

%h2
  %a{:href => new_shop_bundle_path}
    Neues Bundle anlegen
    =image_tag "new.png", :width => "20px"
%br

%table{:class=> "table-index table-datatable"}
  %thead
    %tr
      %th Name
      %th Preis
      %th Artikel
      %th Kategorien
      %th
      %th
  %tbody
    - @bundles.each do |b|
      %tr{:class => "row_highlighted"}
        %td= b[:name]
        - if b[:positive]
          %td{:class => "type_positive"}= number_to_currency(b.getTotalCost, :locale => :de)
        - else
          %td{:class => "type_negative"}= number_to_currency(b.getTotalCost, :locale => :de)
        %td
          %table
            = render :partial => "item", :collection => b.shop_bundle_parts, :as => "part"

        %td
          %ol
            - b.shop_bundle_categories.each do |c|
              %li=c.name
        %td= link_to(image_tag("edit.png", :width => "20px"), edit_shop_bundle_path(b["id"].to_i), :title => "Bundle editieren")
        %td= link_to(image_tag("delete.png", :width => "20px"),shop_bundle_path(b["id"].to_i), :title => "Bundle löschen", :method => :delete, :confirm => "Dieses Bundle wirklich löschen?")
