- content_for :pathway_sub do
  &raquo; Neu

= semantic_form_for @bundle, :url => shop_bundles_path, :method => :post do |f|
  = f.label :name
  = f.text_field :name
  %br
  %br
  = f.label "Positiv"
  = f.radio_button :positive, 'true', :checked => true
  = f.label "Negativ"
  = f.radio_button :positive, 'false', :checked => false

  %br
  %br

  %h2 Kategorien
  = f.input :shop_bundle_categories, :label => "", :as => :check_boxes, :collection => ShopBundleCategory.all, :required => false

  %h2 Neuen Artikel hinzufügen
  %table
    %thead
      %td Artikel
      %td Anzahl
      %td Preisoption
    %tbody{:id => :shop_bundle_parts_tbody}
      = f.inputs :for => :shop_bundle_parts do |part, i|
        .nested-fields
          %tr
            %td= part.input :item_id, :as => :select, :label => false, :collection => Item.all, :input_html => {:onchange => "item_get_prices(this);"}
            %td= part.input :amount, :label => false
            - if @bundle.shop_bundle_parts[i-1].item
              %td= part.input :item_price_id, :label => false, :as => :select, :collection => @bundle.shop_bundle_parts[i-1].item.item_prices.map{|price| ["#{price.name} (#{number_to_currency(price.price, :locale => :de)})",price.id]}
            - else
              %td= part.input :item_price_id, :label => false, :as => :select, :collection => []
            %td= part.input "_destroy", :as => :boolean, :label => "Löschen?"
            %td= part.input :shop_bundle_id, :as => :hidden, :value => @bundle.id

  .links{:id => :shop_bundle_parts_links}
    = link_to_add_association 'weiteren Artikel', f, :shop_bundle_parts

  %br
  %br
  = f.actions do
    = f.action :cancel, :as => :link, :label => "abbrechen"
    = f.action :submit, :as => :button, :label => "speichern", :name => :update_bundle

:javascript
  $("#shop_bundle_parts_links a.add_fields").
    data("association-insertion-method", 'append').
    data("association-insertion-node", '#shop_bundle_parts_tbody')
