= semantic_form_for :shop_bundle, :url => shop_bundles_path, :method => :post do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label "Positiv"
  = f.radio_button :type, 'positive', :checked => true
  = f.label "Negativ"
  = f.radio_button :type, 'negative'
  %br
  %br
  %table{:class=>"table-index", :id => "item-list"}
    %thead
      %td Artikel
      %td Anzahl
    %tr
      %td
        = f.text_field :item_id_1
      %td
        = f.text_field :item_amount_1, :size=>5

  %span{:class => "js-link", :id => "addItem"}
    weitere Artikel

  %br
  = f.submit
