- content_for :pathway_sub do
  &raquo; Barkasse


%h1 Kasse

%h2
  %a{:href => new_konto_transaction_path}
    Neue Transaktion
    =image_tag "new.png", :width => "20px"
%br

%div{:class => "konto-uebersicht float-left"}
  %h1 AG-Konten
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Konto
        %th Letzter Stand
        %th Saldo
        %th
    %tbody
      %tr{:class => "toggle_background"}
        %td
        %td{:style => "text-align:right"} Gesamt:
        - if @ag_kontos.multSaldo >= 0
          %td{:class => "type_positive cell_price"}= number_to_currency @ag_kontos.multSaldo, :locale => :de
        - else
          %td{:class => "type_negative cell_price"}= number_to_currency @ag_kontos.multSaldo, :locale => :de
        %td
      = render :partial => "konto_uebersicht", :collection => @ag_kontos, :as => :konto


%div{:class => "konto-uebersicht float-left"}
  %h1 Externe-Konten
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Konto
        %th Letzter Stand
        %th Saldo
        %th
    %tbody
      %tr{:class => "toggle_background"}
        %td
        %td{:style => "text-align:right"} Gesamt:
        - if @ext_kontos.multSaldo >= 0
          %td{:class => "type_positive cell_price"}= number_to_currency @ext_kontos.multSaldo, :locale => :de
        - else
          %td{:class => "type_negative cell_price"}= number_to_currency @ext_kontos.multSaldo, :locale => :de
        %td
      = render :partial => "konto_uebersicht", :collection => @ext_kontos, :as => :konto

%div{:style => "clear:both"}
%br

%div{:class => "konto-uebersicht float-left"}
  %h1 Verkäufer-Konten
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Verkäufer
        %th Letzter Stand
        %th Saldo
        %th
    %tbody
      %tr{:class => "toggle_background"}
        %td
        %td{:style => "text-align:right"} Gesamt:
        - if @verkaeufer_kontos.multSaldo >= 0
          %td{:class => "type_positive cell_price"}= number_to_currency @verkaeufer_kontos.multSaldo, :locale => :de
        - else
          %td{:class => "type_negative cell_price"}= number_to_currency @verkaeufer_kontos.multSaldo, :locale => :de
        %td
        = render :partial => "konto_uebersicht", :collection => @verkaeufer_kontos, :as => :konto

%div{:class => "konto-uebersicht float-left"}
  %h1 Kassenstand Gesamt
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Art
        %th Saldo
    %tbody
      %tr{:class => "toggle_background"}
        %td{:style => "text-align:right"} Gesamt:
        - if @kasse_uebersicht_saldo >= 0
          %td{:class => "type_positive cell_price"}=number_to_currency @kasse_uebersicht_saldo, :locale => :de
        - else
          %td{:class => "type_negative cell_price"}=number_to_currency @kasse_uebersicht_saldo, :locale => :de
      - @kasse_uebersicht.each do |ue|
        %tr{:class => "toggle_background"}
          %td=ue[:name]
          - if ue[:saldo] >= 0
            %td{:class => "type_positive cell_price"}= number_to_currency ue[:saldo], :locale => :de
          - else
            %td{:class => "type_negative cell_price"}= number_to_currency ue[:saldo], :locale => :de

%div{:style => "clear:both"}
%br
%div{:class => "konto-uebersicht float-left"}
  %h1 Letzte Bestellungen
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Datum
        %th Benutzer
        %th Summe
    %tbody
      - @lastOrders.each do |lo|
        %tr{:class => "toggle_background"}
          %td=lo.updated_at.strftime("%d.%m.%y, %H:%M Uhr")
          %td=link_to lo.user.name, userkonto_show_path(lo.user.id), :title => "Zum Kassenstand von #{lo.user.name}"
          - if lo.gesamtpreis >= 0
            %td{:class => "type_positive cell_price"}= number_to_currency lo.gesamtpreis, :locale => :de
          - else
            %td{:class => "type_negative cell_price"}= number_to_currency lo.gesamtpreis, :locale => :de
