- content_for :pathway_sub do
  &raquo; Barkasse


%h1 Kasse

%h2
  %a{:href => new_konto_transaction_path}
    Neue Transaktion
    =image_tag "new.png", :width => "20px"
%br

%div{:class => "konto-uebersicht float-left"}
  %h1 AG-Konten
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Konto
        %th Letzter Stand
        %th Saldo
        %th
    %tbody
      %tr{:class => "toggle_background"}
        %td
        %td{:style => "text-align:right"} Gesamt:
        - if @ag_kontos.multSaldo >= 0
          %td{:class => "type_positive cell_price"}= number_to_currency @ag_kontos.multSaldo, :locale => :de
        - else
          %td{:class => "type_negative cell_price"}= number_to_currency @ag_kontos.multSaldo, :locale => :de
        %td
      = render :partial => "konto_uebersicht", :collection => @ag_kontos, :as => :konto


%div{:class => "konto-uebersicht float-left"}
  %h1 Externe-Konten
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Konto
        %th Letzter Stand
        %th Saldo
        %th
    %tbody
      %tr{:class => "toggle_background"}
        %td
        %td{:style => "text-align:right"} Gesamt:
        - if @ext_kontos.multSaldo >= 0
          %td{:class => "type_positive cell_price"}= number_to_currency @ext_kontos.multSaldo, :locale => :de
        - else
          %td{:class => "type_negative cell_price"}= number_to_currency @ext_kontos.multSaldo, :locale => :de
        %td
      = render :partial => "konto_uebersicht", :collection => @ext_kontos, :as => :konto

%div{:style => "clear:both"}
%br

%div{:class => "konto-uebersicht float-left"}
  %h1 Verkäufer-Konten
  %table{:class=> "table-index table_bills"}
    %thead
      %tr
        %th Verkäufer
        %th Letzter Stand
        %th Saldo
        %th
    %tbody
      %tr{:class => "toggle_background"}
        %td
        %td{:style => "text-align:right"} Gesamt:
        - if @verkaeufer_kontos.multSaldo >= 0
          %td{:class => "type_positive cell_price"}= number_to_currency @verkaeufer_kontos.multSaldo, :locale => :de
        - else
          %td{:class => "type_negative cell_price"}= number_to_currency @verkaeufer_kontos.multSaldo, :locale => :de
        %td
        = render :partial => "konto_uebersicht", :collection => @verkaeufer_kontos, :as => :konto



