= content_for :pathway_sub do
  &raquo; #{@user.name}

= semantic_form_for @user do |f|
  = f.input :name
  = f.input :email
  %h2 Verkaufsorte
  = f.input :stocks, :as => :check_boxes, :collection => Stock.all, :label => "", :include_blank => false
  %h2 Spezielle Ämter
  = f.input :kassenwart, :as => :boolean
  = f.input :lagerwart, :as => :boolean
  = f.input :admin, :as => :boolean
  = f.actions
