%div
  %h1 Useradmin
  %h2
    %a{:href => new_user_path}
      Neuen Benutzer anlegen
      =image_tag "new.png", :width => "20px"
  %table{:class => "table-index"}
    %thead
      %tr
        %th Id
        %th Name
        %th Email
        %th Zimmer
        %th Erstellt
        %th Verkaufsort
        %th Kasse
        %th Lager
        %th Admin
    %tbody
      - @users.each do |u|
        %tr{:class => "toggle_background"}
          %td= u.id
          %td= u.name
          %td= u.email
          %td= u.room
          %td= u.created_at.strftime("%d.%m.%Y, %H:%M")
          %td= u.stocks.map{|s| s.name}.join(", ")
          - if u.kassenwart
            %td{:class => "text-align-center"}= image_tag("check.png", :width => "20px")
          - else
            %td{:class => "text-align-center"} -
          - if u.lagerwart
            %td{:class => "text-align-center"}= image_tag("check.png", :width => "20px")
          - else
            %td{:class => "text-align-center"} -
          - if u.admin
            %td{:class => "text-align-center"}= image_tag("check.png", :width => "20px")
          - else
            %td{:class => "text-align-center"} -
          %td
            =link_to(image_tag("edit.png", :width => "20px"), edit_user_path(u.id), :title => "User editieren")
          %td
            =link_to(image_tag("delete.png", :width => "20px"), user_path(u.id), :title => "User löschen", :method => :delete, :confirm => "Diesen User wirklich löschen?")
