%table{:class=> "table-index"}
  %thead
    %td Name
    %td Besteht aus
    %td Preis
  %tbody
    - @bundles.each do |b|
      %tr{:class => "row_highlighted"}
        %td
          = b.name

        %td
          %table{:class => "bundle-item-list"}
            = render :partial => "item", :collection => b.shop_bundle_parts, :locals => {:positive => b.positive}, :as => "part"

        %td{:class => :cell_price_big}= number_to_currency(b.getTotalCost, :locale => :de)
        %td{:class => :cell_buy}
          %input{:type => 'text', :size => 1, :value => 1}
          - if params[:category]
            = image_tag "buy.png", :class => "js-link", :onclick => "shop_buy_bundle_category(event, #{b["id"]}, #{params[:category]})"
          - else
            = image_tag "buy.png", :class => "js-link", :onclick => "shop_buy_bundle(event, #{b["id"]})"

