%table{:class=> "table-index"}
  %thead
    %td Name
    %td Besteht aus
    %td Gesamtpreis
  %tbody
    - @bundles.each do |b|
      %tr
        %td
          = b["name"]

        %td
          %table{:class => "bundle-item-list"}
            = render :partial => "item", :collection => b["items"].to_a, :as => "item"

        - if b["type"] == "positive"
          %td{:class => "type_positive"}= number_to_currency(b["total"], :unit => "€ ")
        - else
          %td{:class => "type_negative"}= number_to_currency(b["total"], :unit => "€ -")

        %td= link_to "kaufen", shop_buy_path(:bundle => b["id"], :amount => 1)
