%div{id:"menu"}
  %h2 Menü
  %ul
    %li= link_to "Home", root_path
    - if content_for?(:homeMenu)
      = yield(:homeMenu)

    - if user_signed_in?
      %li= link_to "Kassenstand", userkonto_show_path(current_user.id)
      %li= link_to "Verkauf", shop_index_path
      - if content_for?(:shopMenu)
        = yield(:shopMenu)

    - if current_user.try(:admin?) || current_user.try(:lagerwart?)
      %li= link_to "Artikel", items_path
      - if content_for?(:artikelMenu)
        = yield(:artikelMenu)

    - if current_user.try(:admin?) || current_user.try(:lagerwart?)
      %li= link_to "Shop bundles", shop_bundles_path
      - if content_for?(:shop_bundlesMenu)
        = yield(:shop_bundlesMenu)

    - if current_user.try(:admin?) || current_user.try(:kassenwart?)
      %li= link_to "Kasse", kasse_uebersicht_path
      - if content_for?(:kasseMenu)
        = yield(:kasseMenu)

    - if current_user.try(:admin?)
      %li= link_to "Useradmin", users_path
      - if content_for?(:usersMenu)
        = yield(:usersMenu)

    - if content_for?(:menu)
      = yield(:menu)
