%div{:class => "shoppingcard"}
  %div{:class => "title"}
    %h2 Einkaufswagen
  - if @order.updated_at
    %p stand vom: #{@order.updated_at.strftime "%d.%m.%Y - %H:%M"}

  %table
    - @order.order_parts.each do |p|
      %tr
        %td= p.amount.to_s + "x"
        %td=  p.name + " (" + number_to_currency(p.sumOfPartItems, :locale => :de) + ")"
        - if p.positive
          %td{:class => "type_positive cell_price"}=number_to_currency(p.amount * p.sumOfPartItems, :locale => :de)
        - else
          %td{:class => "type_negative cell_price"}=number_to_currency(p.amount * p.sumOfPartItems, :locale => :de)

      - p.order_part_items.each do |pi|
        %tr{:class => "bundle-item-list"}
          %td
          - if pi.order_part.positive; price = pi.price; else price = pi.price * (-1) end
          %td= (pi.order_part.amount * pi.amount).to_s + "x " + pi.name + " (" + number_to_currency(price, :locale => :de) + ")"
    - unless @order.id.nil?
      %tr
        %td
        %td
        %td{:style => "text-align:center"} -------
      %tr
        %td
        %td{:style => "text-align:right"} Gesamtpreis:
        %td{:class => "cell_price"}=number_to_currency(@order.gesamtpreis, :locale => :de)

  %br
  %h2{:style => "text-align:center"}= link_to "== Kauf abschließen ==", shop_buy_path
