%div
  %h1 Kontoadmin
  %h2
    %a{:href => new_konto_path}
      Neues Konto anlegen
      =image_tag "new.png", :width => "20px"
  %table{:class => "table-index"}
    %thead
      %tr
        %th Id
        %th Name
        %th Erstellt
        %th Aktualisiert
        %th Verkäufer
        %th AG
        %th Extern
    %tbody
      - @kontos.each do |k|
        %tr{:class => "toggle_background"}
          %td= k.id
          %td= k.name
          %td= k.created_at.strftime("%d.%m.%Y, %H:%M")
          %td= k.updated_at.strftime("%d.%m.%Y, %H:%M")
          - if k.verkaeufer
            %td{:class => "text-align-center"}= image_tag("check.png", :width => "20px")
          - else
            %td{:class => "text-align-center"} -
          - if k.ag
            %td{:class => "text-align-center"}= image_tag("check.png", :width => "20px")
          - else
            %td{:class => "text-align-center"} -
          - if k.ext
            %td{:class => "text-align-center"}= image_tag("check.png", :width => "20px")
          - else
            %td{:class => "text-align-center"} -
          %td
            =link_to(image_tag("edit.png", :width => "20px"), edit_konto_path(k.id), :title => "Konto editieren")
          %td
            =link_to(image_tag("delete.png", :width => "20px"), konto_path(k.id), :title => "Konto löschen", :method => :delete, :confirm => "Dieses Konto wirklich löschen?")
