= content_for :pathway_sub do
  &raquo; Neu

= semantic_form_for @konto do |f|
  = f.input :name
  = f.input :user_id, :label => "User-Id", :hint => "F체r AG- oder Externes-Konto leerlassen"
  = f.input :initial, :label => "Initialwert", :as => :string
  %h2 Spezielle Kontentypen:
  %h3 F체r Verk채uferkonto nichts ausw채hlen
  = f.input :ag, :as => :boolean, :label => "AG-Konto"
  = f.input :ext, :as => :boolean, :label => "Externes Konto"
  = f.actions
