%table{:class=> "table-index"}
  %thead
    %td Name
    %td Preis
    %td Kategorie
  %tbody
    - @items.each do |i|
      %tr
        %td= i.name
        %td= number_to_currency(i.preis, :precision=>2, :unit=>" &#8364; ", :separator=>",")
        %td= i.kategorie
        %td= link_to "editieren", edit_item_path(i)
        %td= link_to "löschen", item_path(i), :confirm => "Are you sure you want to delete this attachment?", :method => :delete
