- content_for :pathway_sub do
  &raquo; Neue Lageränderung

= semantic_form_for @stock_change do |f|
  = f.input :stock_id, :as => :select, :collection => @stocks, :include_blank => false, :label => "Lager"
  = f.input :shop_bundle_id, :as => :select, :collection => @bundles
  = f.input :amount, :label => "Anzahl"
  = f.input :name, :label => "Grund"
  = f.actions
