- content_for :shopMenu do
  = render "shop/submenu"

- content_for :left do
  = render "shared/menu"
  - if user_signed_in?
    = render "home/user"

- content_for :content do

  = content_for?(:home_content) ? yield(:home_content) : yield

- content_for :pathway do
  &raquo; Verkauf #{yield(:pathway)}

- content_for :right do
  = render "shared/shoppingcard"

= render :template => 'layouts/application'
